* {
  padding: 0px;
  margin: 0px;
}
.navbar-brand {
  margin-left: 19px;
}

.navbar {
  margin-bottom: 22px;
  width: 100%;
}
.container {
  background-color: rgb(240, 238, 233);
  margin-bottom: 22px;
  
}
.col-md-3 {
  padding: 12px;
}
.row {
  display: flex;
  justify-content: center;
  
}
.col-sm-3 {
  margin-left: 20px;
  margin-right: 20px;
}
.container2{
    background-color: rgb(240, 238, 233);
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    margin-top: 22px;
}
 /* .container2{
    display: flex;
    justify-content: center; 
}  */
/* .container2 ul li{
    display: flex;
    justify-content: center;
} */
.list{
    display: flex;
    justify-content: center; 
    list-style: none;
    padding-bottom: 50px;
    
}
li{
    padding-left: 10vh;
    padding-right: 10vh;
    font-weight: 400;
    font-size: 150%;
   
}
.heding{
    margin-left: 12px;
   
}
button{
    border-color: rgb(135, 138, 137);
    border-radius: 4px;
}
input{
    border-color: rgb(241, 241, 241);
    border-radius: 3px;
}
.col-md-6{
    margin-top: 12px;
    margin-bottom: 12px;
    
}
a{
    text-decoration: none;
    color: black;
}
form{
    padding-left: 38px;
}
h4{
    padding-left: 35px;
    padding-bottom: 10px;
}
footer {
    height: 12vh;
    display: flex;
    justify-content: center;
    padding-top: 14px;
    background-color: black;
    color: rgb(255, 255, 255);
    
  }
.row
{
    background-color: rgb(240, 238, 233); 
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    
}
.col-sm-3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    background-color:black ;
    color: white;
    border-color: white;
}

